<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.Make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.Model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.Year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.Price %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
